<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title>MovieVault</title>
</head>
<body>
    <header>
        <a id="logo" href="/"><h1>MovieVault</h1></a>
                <form method="get" action="/movie/search/" class="search-form">
                <input type="search" id="movie-search" name="title" placeholder="Search movies by title">
                </form>
        <%- include("./navbar") %>
    </header>