<nav>
    <ul>
        <li>
            <a href="/">Home</a>
        </li>
        <li>
            <a href="/movie">Movies</a>
        </li>
        <li>
            <a href="/actor">Actors</a>
        </li>
        <li>
            <a href="/genre">Genres</a>
        </li>
    </ul>
</nav>
