<%- include("components/head") %>
<body>
    <header>
        <h1><%= title %></h1>
        <%- include("components/navbar") %>
    </header>
    <form method="post" action="/new">
        <label for="genre">Enter genre: </label>
        <input type="text" placeholder="Enter genre name" name="genre" id="genre">
    </form>
</body>
</html>