<%- include("components/head") %>
<div class="page-title-and-action">
    <a href="/genre">Back to genres</a>
</div>
    <%- include("components/errors.ejs") %>
    <main>
    <form method="post" action="/genre/new">
        <div class="form-row">
        <label for="title">Genre title:</label>
        <input type="text" name="title" id="title" placeholder="Enter genre title">
        </div>
        <div class="form-row">
        <label for="movies">Associated movies:</label>
        <select name="movies" id="movies" multiple>
            <% movies.forEach(movie => { %>
                <option value="<%= movie.id %>"><%= movie.title %></option>
            <% }) %>
        </select>
        </div>
        <div class="form-row">
        <a href="/genre">Cancel</a>
        <button type="submit">Submit</button>
        </div>
    </form>
</main>
</body>
</html>