<%- include("components/head") %>
    <div class="page-title-and-action">
        <a href="/genre">Back to genres</a>
    </div>
    <main>
        <article>
            <h2><%= genre.genre %></h2>
            <img src="#">
            <ul>
                <% associatedMovies.forEach((movie) => { %>
                    <li><a href="/movie/<%= movie.movie %>"><%= movie.title %></a></li>
                <% }) %>
            </ul>
        </article>
    </main>
</body>
</html>
