<%- include("components/head") %>
    <div class="page-title-and-action">
        <h2>Genres</h2>
        <a href="/genre/new">Add genre</a>
    </div>
        <main class="item-overview">
        <% genres.toSorted((a, b) => a.genre.toLowerCase().localeCompare(b.genre)).forEach(genre => { %>
            <article>
                <a class="overview-wrapper" href="/genre/<%= genre.id %>">
                    <img id="genre-img" src="<%= genre.src %>">
                    <h3><%= genre.genre %></h3>
                </a>
            </article>
        <% }) %>
        </main>
</body>
</html>