<%- include("components/head") %>
<main id="homepage-main">
    <img id="cover-img" src="homepage.jpg" alt="people watching a movie in a cinema">
    <h2>MOVIES. NO FILTER.</h2>
    <p>Old. New. Weird. Mainstream. We've got it. Pick one. Or ten. We don't judge.</p>
</main>
</body>
</html>